h1{
    padding-left:2rem;
    color:#6495ED; 
    width: 50%;
    position:static;
}
hr {
    margin: 0.5rem;
}

.Main {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
}

.register {
    &-grid {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 1rem;
    }
    &-grid-item {
        
        text-align: center;
    }
    &-button {
        background-color: #2EAFFB ;
        color: #fff;
        width: 90%;
        border-style: none;
        height: 2rem;
        margin-top: 0.5rem;
    }
    &-burtgel-Fname {
        width: 44%;
        display: inline-flex;
        
    }
    &-burtgel-Lname {
        width: 44%;
        
    } 
    &-burtgel-notice {
        padding-top: 2rem;
        width: 80%;
        margin-left: 12%;
        font-size: 1vw;
    }
}

input {
    margin: 0.5rem;
    width: 90%;
    border-style: none;
    background-color: #E1E5E8;
    height: 1.5rem;
    border-radius: 1px;
}

.second {
    margin-top: 2rem;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    text-align: center;
    padding: 1rem;
    max-width: 50%;

    &-header {
        padding: 1rem;
    }
    &-button {
        padding: 0.3rem;
        border-style: none;
        background-color: #fff;
        color: #6495ed;
    }
    
}

@media screen and (max-width: 600px) {
    .register {
        &-burtgel-Fname {
            width: 90%;
        }
        &-burtgel-Lname {
            width: 90%;
        }
    }
}