html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.Form {
  width: 100%;
  height: 100vh;
  display: flex;
}
.Form--background {
    position: absolute;
    top: 0;
    left: 0;
    background: #5d90ee;
    height: 100%;
    width: 37%;
  }
.Form--shake {
    animation: shake 0.4s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    perspective: 1000px;
  }
@keyframes shake {
    10%,
    40%,
    70% {
      transform: translate3d(-1px, 0, 0);
    }

    20%,
    50%,
    80% {
      transform: translate3d(1px, 0, 0);
    }

    30%,
    60%,
    90% {
      transform: translate3d(-2px, 0, 0);
    }
  }
.Form__input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #c4c4c4;
    transition: border 0.3s ease-in-out;
    font-size: 1rem;
    padding: 0.5rem 0.3rem;
    color: #464646;
    border-radius: 3px;
  }
.Form__input:focus {
      outline: none;
      border-bottom: 1px solid #5d90ee;
    }
.Form__input::placeholder {
      color: #c4c4c4;
      font-weight: 300;
    }
.Form__border--red {
      border-bottom: 1px solid #f02525;
    }
.Form__auth {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
  }
.Form__auth > a {
      text-align: center;
      margin-top: 1rem;
      color: #5d90ee;
      text-decoration: none;
    }
.Form__auth h2 {
      color: #464646;
      font-weight: 400;
      font-size: 1.8rem;
      margin-bottom: 0.5rem;
    }
.Form__auth input {
      width: 100%;
    }
.Form__auth p {
      margin-top: 1.2rem;
      margin-bottom: 0.5rem;
      color: #464646;
    }
.Form__auth__password {
      display: flex;
      position: relative;
    }
.Form__auth__password i {
        position: absolute;
        right: 0.5rem;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        color: #464646;
      }
.Form__auth__eye {
      margin-right: 0.05rem;
    }
.Form__auth-checkbox {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 1rem 0;
      margin-bottom: 2.5rem;
    }
.Form__auth-checkbox div {
        display: flex;
        align-items: center;
      }
.Form__auth-checkbox input {
        width: auto;
        transform: scale(1.2);
        cursor: pointer;
      }
.Form__auth-checkbox p {
        margin: 0;
        margin-left: 0.5rem;
        cursor: pointer;
      }
.Form__auth-checkbox a {
        color: #5d90ee;
        font-weight: 500;
        text-decoration: none;
      }
.Form__auth button {
      border-style: none;
      background-color: #5d90ee;
      width: 100%;
      color: #fff;
      text-align: center;
      padding: 1rem 0;
      border-radius: 5px;
      cursor: pointer;
    }
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.7;
}
.Overlay--dark {
    background: #111;
  }
.notification {
  width: 350px !important;
}
.notification__item {
  background-color: #fcfcfc !important;
  box-shadow: 0 0.2px 0.7px rgba(0, 0, 0, 0.035),
    0 0.6px 2px rgba(0, 0, 0, 0.05), 0 1.5px 4.8px rgba(0, 0, 0, 0.065),
    0 5px 16px rgba(0, 0, 0, 0.1);
}
.notification__item--danger {
    border-left: 8px solid #f02525 !important;
  }
.notification__item--success {
    border-left: 8px solid rgb(33 197 93) !important;
  }
.notification__title {
  color: #464646 !important;
  font-weight: 500;
  font-size: 1rem !important;
}
.notification__message {
  color: #464646 !important;
  font-weight: 300;
}
.FormLogin {
  transform: translateY(-25%);
  top: 50%;
  width: 30%;
  position: relative;
}
.FormRegister {
  transform: translateY(-37.5%);
  top: 50%;
  width: 30%;
  position: relative;
}
.FormImage {
  width: 50%;
  position: relative;
  display: flex;
  margin-right: 1rem;
}
.FormImage > div {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 65%;
    height: 80%;
    border-radius: 5px;
    overflow: hidden;
  }
.FormImage > div > img {
      position: absolute;
    }
.FormImage__content {
    color: #fcfcfc;
    z-index: 2;
    position: relative;
    text-align: center;
    padding: 0 2rem;
    top: 50%;
    transform: translateY(-65%);
  }
.FormImage__content h1 {
      font-size: 1.9rem;
      margin-bottom: 1.5rem;
    }
.FormImage__content p {
      line-height: 1.4;
    }
.FormImage__content img {
      width: 60%;
      margin-bottom: 1rem;
    }
.FormImage__socials {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
.FormImage__socials a {
      text-decoration: none;
    }
.FormImage__socials i {
      margin: 0 0.3rem;
      color: #fcfcfc;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }
.fa-facebook-f {
  background: #4267b2;
}
.fa-instagram {
  background: linear-gradient(45deg, #fb3958, #458eff);
}
.fa-twitter {
  background: #00acee;
  padding-left: 3px;
  padding-top: 2px;
}
.fa-phone {
  background: #28a745;
}
.Logo {
  height: auto;
  width: 100%;
  position: relative;
  filter: invert(60%) sepia(40%) saturate(3000%) hue-rotate(197deg)
    brightness(120%) contrast(80%);
}
