html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.Main {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline;
}
.Main-button {
        width: 69%;
        color: #6495ed;
        border-style: none;
        background-color: #fff;
        margin:10px;
        padding-left: 80%;
        
    }
.Main-header {
        padding-left: 20px;
        color: #6495ed;
        width: 30%;
        
    }
.Login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}
.Login-header {
        text-align: center;
        padding-bottom: 10px;

    }
.Login-name {
        padding-left: 20%;

    }
.Login-password {
        padding-left: 20%;
    }
.Login-label {
        margin: 0%;
        padding-bottom: 0%;
    }
.Login-button {
        border-style: none;
        background-color: #6495ed;
        width: 56%;
        color: #fff;
        height: 30px;
        margin-left: 20%;
        text-align: center;
        padding: 20px;
        
    }
.Login-check {
        padding-left: 20%;
        
        width: 30px;

    }
.Login-remember{
        padding-left: 20%;
        padding-bottom: 20px;

    }
.Login-forgot {
        margin-left: 20%;
        
    }
h1{
    padding-left:2rem;
    color:#6495ED; 
    width: 50%;
    position:static;
}
hr {
    margin: 0.5rem;
}
.Main {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
}
.register-grid {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 1rem;
    }
.register-grid-item {
        
        text-align: center;
    }
.register-button {
        background-color: #2EAFFB ;
        color: #fff;
        width: 90%;
        border-style: none;
        height: 2rem;
        margin-top: 0.5rem;
    }
.register-burtgel-Fname {
        width: 44%;
        display: inline-flex;
        
    }
.register-burtgel-Lname {
        width: 44%;
        
    }
.register-burtgel-notice {
        padding-top: 2rem;
        width: 80%;
        margin-left: 12%;
        font-size: 1vw;
    }
input {
    margin: 0.5rem;
    width: 90%;
    border-style: none;
    background-color: #E1E5E8;
    height: 1.5rem;
    border-radius: 1px;
}
.second {
    margin-top: 2rem;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    text-align: center;
    padding: 1rem;
    max-width: 50%;
    
}
.second-header {
        padding: 1rem;
    }
.second-button {
        padding: 0.3rem;
        border-style: none;
        background-color: #fff;
        color: #6495ed;
    }
@media screen and (max-width: 600px) {
        .register-burtgel-Fname {
            width: 90%;
        }
        .register-burtgel-Lname {
            width: 90%;
        }
}
